/*Fonts
/*________________________________________________*/
@font-face {
	font-family: "HeliosLightC";
	src: url("../fonts/HeliosLightC/HeliosLightC.woff2") format("woff2"),
	url("../fonts/HeliosLightC/HeliosLightC.woff") format("woff"),
	url("../fonts/HeliosLightC/HeliosLightC.svg#HeliosLightC.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "HeliosThinC";
	src: url("../fonts/HeliosThinC/HeliosThinC.woff2") format("woff2"),
url("../fonts/HeliosThinC/HeliosThinC.woff") format("woff"),
url("../fonts/HeliosThinC/HeliosThinC.svg#HeliosThinC.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}


